<li id="jh-navigation-menu">
    <a href="#" class="aui-nav-link aui-dropdown2-trigger" aria-haspopup="true" aria-owns="system-jh-menu-content" title="JH Options" aria-controls="system-jh-menu-content">
 	<span class="aui-icon aui-icon-small">JH Options</span>
    </a>
    <div id="system-jh-menu-content" class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" data-dropdown2-alignment="right" aria-hidden="true" style="">
	<div class="aui-dropdown2-section">
             <strong>JH Options</strong>
	     <ul class="aui-list-truncate">
		 <li><a href="#" class="aui-nav-link" id="jh-navigation-menu-options">Options</a></li>
		 <li><a href="#" class="aui-nav-link" id="jh-navigation-menu-about">About</a></li>
		 <li><a href="#" class="aui-nav-link" id="jh-navigation-menu-credits">Credits</a></li>
	     </ul>
	</div>
    </div>
</li>
