<div id="jh-help-dialog"
	class="jira-dialog box-shadow jira-dialog-open popup-width-large jira-dialog-content-ready hidden"
	style="width: 810px; margin-left: -406px; margin-top: -337px;">
    <div class="jira-dialog-heading"><h2 title="Keyboard Shortcuts">JH Options</h2></div>
    <div class="jira-dialog-content">
       	<div class="dialog-title hidden">Keyboard Shortcuts</div>
       	<form action="javascript:void()" class="aui" method="post">
	    <div class="form-body" style="max-height: 525px;"></div>
       	</form>
    </div>
</div>
